@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

:root{
  --primary-white: #fff;
  --primary-black:  	#000000; 
  --primary-dark: rgba(255,255,255,0);
}

body{
  font-family: "Roboto Condensed";
}

/*...... Navabar.........*/

/*..logo..*/
.logo{
  width: 3rem;
  height: 3rem;
}

/*..Menu links..*/
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 00.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 5rem;
  padding: 0 i !important;
  height: 4rem;
}

.navbar-brand > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-black);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-black);
}